* {
  margin: 0;
  padding: 0;
}

#header {
  height: 50px;
  background: #f8472a
}

#header .head {
  width: 1005px;
  height: 50px;
  background: #d1d3d7;
  margin: auto
}

#banner {
  height: 500px;
  background: #6a62ce
}

#category {
  width: 1005px;
  height: 200px;
  margin: auto;
  background: #ff4e99;
}

#category .item {
  width: 125px;
  height: 165px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-top: 10px;
  border-right: 1px dashed black;
  float: left;
}

#category .item.first {
  padding-left: 0
}

#category .item.last {
  padding-right: 0;
  border: 0
}